.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 75%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 41%
    right: 10%
    width: 25%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white
.barra-avance__boton--regresar span 
  color: #fff !important

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white  
  
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.png") !important 
.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 400px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
.acordion__accion__btn--a 
  background-color: #F59E0B !important
.acordion .tarjeta--azul
  background-color: #334155 !important
  h3, 
    color: white
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #C0F1E1 !important
  h3, 
    color: #12263F 
.w-card-icon
  width: min-content
  z-index: 1
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  top: 8px
.w-card-text2
  position: relative
  width: fit-content
  padding-left: 40px
  padding-right: 50px
  left: 0px
  top: 8px
.w-card-text3
  position: relative
  width: fit-content
  padding-left: 50px
  padding-right: 50px
  left: -48px
  top: 8px
.bg1
  background-color: #C1C5CB
  border-top-right-radius: 60px
.bg01
  background-color: #C1C5CB
.bg2
  background-color: #2ED19B
  border-radius: 20px
.bg3
  background-image: url('../assets/curso/Tema1/fondo.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px) 
    background-size: cover 
.bg4
  background-color: #1E3A8A
.bg6
  background-color: #182E6E
.bg5
  background-image: url('../assets/curso/Tema1/fondo2.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px) 
    background-size: cover
.bg7
  background-color: #334155
.bg8
  background-color: #BBC3DC
  border-top-left-radius: 60px
.bg9
  background-color: #BBC3DC
.bg10
  background-color: #ECF2FB
.bg11
  background-color: #F3F9FF
  border-radius: 20px
.bg12
  background-color: #2ED19B
.fondo01
  background-image: url('../assets/curso/Tema1/fondo3.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.fondo02
  background-image: url('../assets/curso/Tema1/fondosly.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.fondo-interno
  background-image: url('../assets/curso/Tema1/fondointerno.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
.tabla-a
  width: 100% !important
.slyder__btn 
  background-color: #F59E0B

.tabla-a table
  width: 100% !important
  min-width: 100% !important
  table-layout: fixed !important
.circl-arrow .slyder-f__btn i
  font-size: 1.2rem
  background-color: #F59E0B
  //background-color: $color-acento-contenido
  //color: $white
  height: 46px
  width: 46px
  padding: 5px
  border-radius: 500px
  display: flex
  justify-content: center
  align-items: center
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #F59E0B
  border: 1px solid #D8ECFF
.slyder-a__bullets__item--active 
  background-color: #F59E0B !important
  border-color: #F59E0B
.slyder-a__bullets__item 
  background-color: #24A77C
  width: 10px
  height: 10px
.titulo-segundo:after 
  border-left-color: #1E3A8A
.titulo-principal.color-acento-contenido .titulo-principal__numero span 
  color: #12263F !important
.barra-avance__boton--regresar span 
  color: #12263F !important

.fa-hilo
  content: url('../assets/curso/Tema4/hilo.svg')
  align-self: flex-start !important
.izq
  margin-left: -0.7rem !important
.tarjeta--boton 
  background-color: #FCE2B5
.tarjeta--boton.color-primario:active *, .tarjeta--boton.color-primario:focus *, .tarjeta--boton.color-primario:hover 
  background-color: #C0F1E1
  h4, p 
    color: #12263F